body {
    font-family: Verdana, serif;
    font-size: 13px;
}

#board {
    display: table;
    border-spacing: 10px;
}

#statusBar {
}

.card-row {
    display: table-row;
}

.card-cell {
    display: table-cell;
}

.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0;
    padding: 15px 10px 15px 20px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}

.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 10px;
}

.shadow-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}